<form action="/api/category/add" method="post">
        <h3 class="create">Create new category</h3>
        <input type="text" id="name" name="name" placeholder="Category name">
        <input type="text" id="img" name="img" placeholder="Category img">

        <button type="submit"><p>Create</p></button>

</form>