<form action="/api/courses/add" method="post">
        <br>
        <h3 class="create">Create new Course</h3>
        <input type="text" id="name" name="name" placeholder="Course name">
        <br>
        <input type="number" id="price" name="price" placeholder="Course price">
        <br>
        <input type="text" id="img" name="img" placeholder="Course img">
        <br>
        <select name="catalogId" id="">
                {{#each category}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
        </select>
        <br>
        <button class="btn" type="submit">Create</button>
        <br><br><br>

</form>

<style>
        form {
                background: rgba(255, 255, 255, .01);
                padding: 50px;
                border-radius: 25px;
                box-shadow: 0 0 15px .1px #ccc;
                margin-top: 100px;
        }

        input::placeholder {
                color: #ccc;
        }

        .btn {
                background: transparent;
                border: 2px solid #ccc;
                color: #fff;
                border-radius: 25px;
                width: 400px !important;
                margin: auto;
                font-size: 20px;
                padding: 10px 0 14px;
        }

        .btn:hover {
                color: #fff;
        }
</style>