{{#if categories.length}}
{{#each categories}}
<div class="category">
    <h3>{{name}}</h3>
    <img src="{{img}}" alt="{{img}}">

    <a class="title"
                style="text-decoration: none;  margin-left: 400px; font-size: 30px; font-weight: 300; !important"
                href="/api/category/add">Add new category</a>
</div>
{{/each}}
{{else}}
<div data-aos="fade-up">
    <div class="empty" style="display: flex; align-items: center; margin-left: 250px;margin-top: 250px;">
        <img width="256px" src="/images/empty-box.png" alt="">

        <h2 style="font-size: 60px; margin-left: 50px;" class="title">Nothing!!! <br>
            <span>Your collection list is empty</span> <br>
            <a class="title"
                style="text-decoration: none;  margin-left: 400px; font-size: 30px; font-weight: 300; !important"
                href="/api/category/add">Add new category</a>
        </h2>
    </div>
</div>
{{/if}}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>