<form action="/api/courses/update/{{courses.id}}" method="post">
<input type="text" name="name" value="{{courses.name}}">
<input type="number" name="price" value="{{courses.price}}">
<input type="text" name="img" value="{{courses.img}}">
<button type="submit">Send</button>
</form>