<!-- Sidebar-->
<div id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">Online Edu</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item  p-3" href="/api"><img style="width: 18px; margin-right: 10px;" src="/images/home.png" alt=""> Home</a>
        <a class="list-group-item  p-3" id="courses" href="/api/courses"><img style="width: 18px; margin-right: 10px;" src="/images/monitor.png" alt=""> Courses</a>
        <a class="list-group-item  p-3" id=" categories" href="/api/category/"><img style="width: 18px; margin-right: 10px;" src="/images/categories.png" alt=""> Categories</a>
        <a class="list-group-item  p-3" href="/api/users"><img style="width: 18px; margin-right: 10px;" src="/images/group.png" alt=""> Users</a>
        <div style="height: .5px; background: rgb(61, 61, 61);"></div>
        <a class="list-group-item  p-3" href="#!"><img style="width: 18px; margin-right: 10px;" src="/images/credit-card.png" alt=""> Orders</a>
        <a class="list-group-item  p-3" href="#!"><img style="width: 18px; margin-right: 10px;" src="/images/diamond.png" alt=""> Premium</a>
        <a class="list-group-item  p-3" href="#!"><img style="width: 18px; margin-right: 10px;" src="/images/flag.png" alt=""> Complaints</a>
        <a class="list-group-item  p-3" href="/api/settings"><img style="width: 18px; margin-right: 10px;" src="/images/settings.png" alt=""> Settings</a>
        <div style="height: 1px; background: rgb(61, 61, 61);"></div>
        <a class="list-group-item  p-3 hover1" href="/api/courses/add"><img style="width: 18px; margin-right: 10px;" src="/images/add-course.png" alt="">Add Courses</a>
        <a class="list-group-item  p-3 hover2" href="/api/category/add"><img style="width: 18px; margin-right: 10px;" src="/images/subfolder.png" alt="">Add Categories</a>
        <a class="list-group-item  p-3 hover2" href="/api/user/add"><img style="width: 18px; margin-right: 10px;" src="/images/add-user.png" alt="">Add Users</a>
        <a class="list-group-item  p-3" href="/api/logout"><img style="width: 18px; margin-right: 10px;" src="/images/log-out.png" alt=""> Logout</a>
    </div>
</div>