<a class="comeBack" href="/api">Back home</a>

<style>
    body {
        background: url(/images/errpr.jpg);
        background-size: 100% 100vh;
        background-repeat: no-repeat;
    }

    .comeBack {
        color: rgb(212, 212, 212);
        font-size: 52px;
        font-family: "Helvetica Neue", Arial, "Noto Sans";
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;    
        margin-top: 500px;
        margin-left: -800px;
    }
</style>